<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zjl.checkticket">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".CheckTicketApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_tickets"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CheckTicketActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".setting.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".CheckTicketActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zjl.checkticket.CheckTicketActivity" />
        </activity>
        <activity
            android:name=".DrawerActivity"
            android:label="@string/title_activity_drawer"
            android:parentActivityName=".CheckTicketActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zjl.checkticket.CheckTicketActivity" />
        </activity>
        <activity
            android:name=".statistics.StatisticsActivity"
            android:label="@string/title_activity_statistics"
            android:parentActivityName=".CheckTicketActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zjl.checkticket.CheckTicketActivity" />
        </activity>
    </application>

</manifest>